<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <title>Elimina Prodotto</title>
    <script>
        function confermaEliminazione() {
            var conferma = confirm("Sei sicuro di voler eliminare il prodotto?");
            if (conferma) {
                // Se l'utente conferma, invia il modulo
                document.getElementById("moduloEliminazione").submit();
            } else {
                // Altrimenti, annulla l'azione
                return false;
            }
        }
    </script>
</head>
<div class="header-right">
    <a class="logout" href="/logout">Logout</a>
    <a class="home-button" href="/">Home</a>
         
</div>
    <div class="container_logged">
        <center>
        <h1> Eliminazione prodotti:</h1>
        {% if errore %}
            <p class="message_error">{{errore}}</p>
        {% endif %}
        {% if successo %}
            <p class="message_success">{{successo}}</p>
        {% endif %}
        <form id="moduloEliminazione" action="/elimina" method="post" onsubmit="return confermaEliminazione()">
            <label for="nome">Inserisci il nome del prodotto da eliminare: </label>
            <input type="text" id="nome" name="nome" required><br><br>
            <label for="corsia">Inserisci il numero della corsia del prodotto: </label>
            <input type="text" id="corsia" name="corsia" required><br><br>
            <input type="submit" value="Elimina prodotto">
        </form>
        </center>
    </div>
    
