<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <div class="container">
        <h1>Home</h1>
        
        {% if username %}
            {% if condizione %}
                <p style="color: red;">{{ condizione }}</p>
            {% endif %}
            <p>Salve, {{ username}}!</p>
            <h2>Inserimento e eliminazione prodotti:</h2>
            <p>Per inserire prodotti: <a href="/inserisci_prodotti" class="button">Inserisci Prodotti</a></p>
            <p>Per eliminare prodotti: <a href="/elimina" class="button">Elimina Prodotti</a></p>
            <h3>Visualizzazione prodotti e corsie:</h3>
            <p>Per cercare prodotti: <a href="/mostra_prodotti" class="button">Mostra Prodotti</a></p>
            <p>Per visualizzare il contenuto delle singole corsie: <a href="/mostra_corsia" class="button">Mostra Corsia</a></p>
            <br> <br>
            <p>Per effettuare il logout: <a href="/logout" class="button">Logout</a></p>
        {% else %}
            <p>Prima di poter inserire i prodotti occorre essere loggato!</p>
            <p>Non sei loggato, <a href="/login" class="button">login</a> per accedere alla home page</p>
            <p>Se non sei registrato puoi farlo qui!: <a href="/register" class="button">Registrati</a></p>
        {% endif %}
    </div>
    <footer>
        <p>&copy; Einaudi_Conad_Stores.</p>
    </footer>
</body>
</html>
