{% extends "layout.html" %} {% block content %}
<head>
    <title>Home</title>
</head>
    <div class="container">
        <h1>Home</h1>
        
        {% if username %}
            {% if condizione %}
                <p style="color: red;"><b>{{ condizione }}</b></p>
            {% endif %}
            <p>Salve, {{ username}}!</p>
            <h2>Inserimento e eliminazione prodotti:</h2>
            <p><a href="/inserisci_prodotti" class="button">Inserisci Prodotti</a></p>
            <p><a href="/elimina" class="button">Elimina Prodotti</a></p>
            <h2>Visualizzazione prodotti e corsie:</h2>
            <p><a href="/mostra_prodotti" class="button">Mostra Prodotti</a></p>
            <p><a href="/mostra_corsia" class="button">Mostra Corsia</a></p>
            <br><br>
        {% else %}
            <p>Prima di poter inserire i prodotti occorre essere loggato!</p>
            <p>Non sei loggato, <a href="/login" class="button">login</a> per accedere alla home page</p>
            <p>Se non sei registrato puoi farlo qui!: <a href="/register" class="button">Registrati</a></p>
        {% endif %}
    </div>
    

{% endblock %}