
<div class="header-right">
    <a class="logout" href="/logout">Logout</a>
    <a class="home-button" href="/">Home</a>
         
</div>

<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <title>Prodotti</title>
</head>
    <div class="container_logged">
        <h1> Inserimento Prodotti</h1>
        {% if errore %}
            <p class="message_error">{{errore}}</p>
        {% endif %}
        {% if successo %}
            <p class="message_success">{{successo}}</p>
        {% endif %}
        
        <form action="/inserisci_prodotti" method="post" enctype="multipart/form-data">
            <label for="nome">Inserisci il nome del prodotto: </label>
            <input type="text" id="nome" name="nome" required><br><br>
            <label for="image">Seleziona un'immagine del prodotto:</label>
            <input type="file" name="image" accept="image/*" required><br><br>
            <label for="image_scaffale">Seleziona un'immagine dello scaffale</label>
            <input type="file" name="image_scaffale"accept="image/*" required><br><br> 
            <label for="corsia">Inserisci il numero della corsia: </label>
            <input type="text" id="corsia" name="corsia"required><br><br>
            <label for="descrizione">Inserisci la descrizione del prodotto:</label>
            <input type="text" id="descrizione" name="descrizione"><br><br>
            <input type="submit" value="Aggiungi prodotto">
        </form>
        <br><br>
    </div>


