{% extends "layout.html" %} {% block content %}
<head>
    <title>Mostra Corsia</title>
</head>

    <div class="container">

        <h1>Mostra contenuto corsie:</h1>
        {% if errore %}
            <p style="color:red;">{{errore}}</p>
        {% endif %}
        <form action="/mostra_corsia" method="post">
            <label for="corsia">Inserisci il numero della corsia che vuoi visualizzare:</label>
            <input type="text" id="corsia" name="corsia" required>
            <input type="submit" value="Ricerca corsia">
        </form>
        <br><br>
        {% if corsia %}
            <h2>Contenuto corsia</h2>
            <ul>
            {% for prodotto in corsia %}
                <li>
                    <h3>{{ prodotto[1] }}</h3>
                    <p>N.corsia: {{ prodotto[2] }}</p>
                    <p>Descrizione: {{ prodotto[3] }}</p>
                    <img src="{{ prodotto[4] }}" alt="image">
                </li>
            {% endfor %}
            </ul>
        {% endif %}
    
    </div>
{% endblock %}