<div class="header-right">
    <a class="logout" href="/logout">Logout</a>
    <a class="home-button" href="/">Home</a>
         
</div>
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <title>Mostra_Prodotti</title>
</head>

    <div class="mostra_centro">
        <h1>Scelta prodotti da Cercare: </h1>
        {% if errore %}
            <p class="message_error">{{errore}}</p>
        {% endif %}
        <form action="/mostra_prodotti"method="post">
            <label for="nome">Inserisci il nome del prodotto da ricercare: </label>
            <input type="text" id="nome" name="nome" required><br><br>
            <input type="submit" value="Ricerca prodotto">
        </form>
        <br><br>
        {% if prodotto %}
            <h2>Dettagli Prodotto</h2>
            <ul>
                {% for i in prodotto %}
                    <li>
                        <h3>{{ i[1] }}</h3>
                        <p> Corsia: {{i[2]}} </p>
                        <p>Descrizione: {{ i[3] }}</p>
                        <p>immagine prodotto<img src="{{ i[4] }}" alt="image"> </p>
                        <p>immagine scaffale<img src="{{ i[5] }}" alt="image"> </p>
                    </li>
                {% endfor %}
                </ul>
            <br> <br>
        {% endif %} 
    
    </div>
