/* Aggiornamenti nel file CSS (style.css) */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
    color: #333;
}

h1, h2, h3 {
    color: #242424;
}
h1{
    text-align: center;
}
p {
    margin: 10px 0;
}

a:not(.home-button, .logout) {
    color: #ffffff;
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
}

.container {
    max-width: 80%;
    margin: 0 auto;
}


.button, input[type="submit"] {
    display: inline-block;
    padding: 10px 20px;
    margin: 5px;
    border: none;
    border-radius: 5px;
    background-color: #8766a0;
    color: #ffffff;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.button:hover {
    background-color: #daaaff;
}

form {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
}

form label {
    display: block;
    margin-bottom: 10px;
}

form input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    box-sizing: border-box;
}


ul {
    list-style: none;
    padding: 0;
}

ul li {
    border: 1px solid #ddd;
    margin-bottom: 15px;
    padding: 15px;
    border-radius: 5px;
}

ul li img {
    max-width: 100%;
    max-height: 150px; /* Imposta l'altezza massima desiderata */
    height: auto;
    margin-top: 15px;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}




/* Style the header */
.header {
    overflow: hidden;
    background-color: #f1f1f1;
    padding: 20px 10px;
  }
  
  /* Style the header links */
.header-right a {
    float: left;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    line-height: 25px;
    border-radius: 4px;
  }
  
.home-button{
    border: none;
    border-radius: 5px;
    background-color: #53306d;
    color: #ffffff;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

  /* Style the logo link (notice that we set the same value of line-height and font-size to prevent the header to increase when the font gets bigger */
.header{
    text-align: center;
}

  
  /* Float the link section to the right */
.header-right {
    float:right;
    }

.header img{
    height: auto;
    max-width: 40%;
  }
  
@media screen and (max-width: 700px) {
.header-right a {
    float: none;
    display: block;
    text-align: center;
    }
.header-right {
    float: none;
    }
.header img{
    height: auto;
    max-width: 50%;
  }

}